# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*/.idea/
*/__pycache__/
*/venv/
*/.vs/
*/Debug/
*/Release/
*/x64/
*.vcxproj.user
cryptopp_wrapper
cryptopp850/TestData
cryptopp850/TestPrograms
cryptopp850/TestVectors
cryptopp850/Win32
cryptopp850/x64
*.zip
